.product_wrapper {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
}

.slide_wrapper {
   width: 100%;
   background-color: black;
   position: relative;
}